* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body{
  width: 100vw;
  height: 100vh;
}

#container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(210, 218, 231);
}

#switchContainer {
  width: min(80vw, 500px);
  height: min(30vw, 190px);
  position: relative;
}

#switchContainer #clickableContainer {
  z-index: 100;
  position: absolute;
  width: 100%;
  height: 100%;
}

#switchContainer #clickableContainer label {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 100vw;
  cursor: pointer;
}

#switchContainer #clickableContainer input#checkBox {
  position: absolute;
  width: 0;
  height: 0;
  display: none;
}

#switchContainer #track {
  width: 100%;
  height: 100%;
  border-radius: 100vw;
  border: 1px solid rgb(189, 189, 189);
  padding: min(5%, 13px) min(11%, 45px);
  position: relative;
  overflow: hidden;

  display: flex;
  align-items: center;
  background-color: rgb(72, 142, 209);

  -webkit-transition: background-color 1s ease;
  -moz-transition: background-color 1s ease;
  -ms-transition: background-color 1s ease;
  -o-transition: background-color 1s ease;
  transition: background-color 1s ease;
}

#switchContainer #track .bgContainer {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

#switchContainer #track #buttonContainer {
  z-index: 10;
  width: min(25vw, 160px);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: min(5vw, 30px);

  -webkit-transition: 1s cubic-bezier(0.31, 0.33, 0, 1.35);
  -moz-transition: 1s cubic-bezier(0.31, 0.33, 0, 1.35);
  -ms-transition: 1s cubic-bezier(0.31, 0.33, 0, 1.35);
  -o-transition: 1s cubic-bezier(0.31, 0.33, 0, 1.35);
  transition: 1s cubic-bezier(0.31, 0.33, 0, 1.35);
}

#switchContainer:has(:checked) #track {
  background-color: rgb(27, 29, 42);
}
#switchContainer:has(:checked) #track #buttonContainer {
  margin-left: 40%;
  transform: translateX(50%);
}
#switchContainer:has(:checked) #track .cloudsContainer {
  margin-top: 40%;
  transform: translateY(50%);
}
#switchContainer:has(:checked) #track #stars {
  margin-bottom: 0%;
  transform: translateY(0%);
}
#switchContainer:has(:checked) #track #buttonContainer #sun #moon {
  transform: translateX(0%);
}

#switchContainer #track #buttonContainer #sun {
  overflow: hidden;
  z-index: 100;
  position: relative;
  background-color: #ffbe26;
  border-radius: 50%;
  box-shadow: inset 0.1em 0.1em 0.2em rgba(255, 255, 255, 0.8),
    inset -0.05em -0.2em 0.3em rgba(0, 0, 0, 0.5);
}

#switchContainer #track #buttonContainer #sun #moon {
  position: absolute;
  transform: translateX(120%);
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgb(197, 201, 212);
  box-shadow: inset 0.1em 0.1em 0.2em rgba(255, 255, 255, 0.8),
    inset -0.05em -0.2em 0.3em rgba(0, 0, 0, 0.5);

  -webkit-transition: transform 1s cubic-bezier(0.31, 0.33, 0, 1.35);
  -moz-transition: transform 1s cubic-bezier(0.31, 0.33, 0, 1.35);
  -ms-transition: transform 1s cubic-bezier(0.31, 0.33, 0, 1.35);
  -o-transition: transform 1s cubic-bezier(0.31, 0.33, 0, 1.35);
  transition: transform 1s cubic-bezier(0.31, 0.33, 0, 1.35);
}
#switchContainer #track #buttonContainer #sun #moon .moonCircle {
  position: absolute;
  background-color: rgb(150, 158, 179);
  border-radius: 50%;
  box-shadow: inset -0.02em 0.1em 0.05em rgba(0, 0, 0, 0.15);
}
#switchContainer #track #buttonContainer #sun #moon .moonCircle:nth-child(1) {
  width: 34%;
  height: 34%;
  top: 40%;
  left: 18%;
}
#switchContainer #track #buttonContainer #sun #moon .moonCircle:nth-child(2) {
  width: 20%;
  height: 20%;
  top: 58%;
  left: 65%;
}
#switchContainer #track #buttonContainer #sun #moon .moonCircle:nth-child(3) {
  width: 18%;
  height: 18%;
  top: 15%;
  left: 40%;
}

#switchContainer #track #buttonContainer #lightCircles .lightCircle {
  z-index: -1;
  position: absolute;
  border-radius: 50%;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(255, 255, 255, 0.08);
}

#switchContainer
  #track
  #buttonContainer
  #lightCircles
  .lightCircle:nth-child(1) {
  width: min(50vw, 310px);
  height: min(50vw, 310px);
}
#switchContainer
  #track
  #buttonContainer
  #lightCircles
  .lightCircle:nth-child(2) {
  width: min(68vw, 428px);
  height: min(68vw, 428px);
}
#switchContainer
  #track
  #buttonContainer
  #lightCircles
  .lightCircle:nth-child(3) {
  width: min(86vw, 543px);
  height: min(86vw, 543px);
}

#switchContainer #track .cloudsContainer {
  top: 5%;
  -webkit-transition: 1s cubic-bezier(0.31, 0.33, 0, 1.19);
  -moz-transition: 1s cubic-bezier(0.31, 0.33, 0, 1.19);
  -ms-transition: 1s cubic-bezier(0.31, 0.33, 0, 1.19);
  -o-transition: 1s cubic-bezier(0.31, 0.33, 0, 1.19);
  transition: 1s cubic-bezier(0.31, 0.33, 0, 1.19);
}

#switchContainer #track #backClouds .cloud {
  position: absolute;
  border-radius: 50%;
  background-color: rgb(178, 208, 234);
}
#switchContainer #track #backClouds .cloud:nth-child(1) {
  height: 45%;
  width: 15%;
  left: -3%;
  top: 100%;
  transform: translateY(-39%);
}
#switchContainer #track #backClouds .cloud:nth-child(2) {
  height: 45%;
  width: 18%;
  left: 20%;
  top: 60%;
}
#switchContainer #track #backClouds .cloud:nth-child(3) {
  height: 40%;
  width: 15%;
  left: 28%;
  top: 60%;
  transform: translateY(-8%);
}
#switchContainer #track #backClouds .cloud:nth-child(4) {
  height: 38%;
  width: 18%;
  left: 36%;
  top: 60%;
  transform: translateY(5%) rotate(-20deg);
}
#switchContainer #track #backClouds .cloud:nth-child(5) {
  height: 38%;
  width: 18%;
  left: 46%;
  top: 60%;
  transform: translateY(-35%) rotate(-20deg);
}
#switchContainer #track #backClouds .cloud:nth-child(6) {
  height: 45%;
  width: 18%;
  left: 58%;
  top: 60%;
  transform: translateY(-55%);
}
#switchContainer #track #backClouds .cloud:nth-child(7) {
  height: 65%;
  width: 18%;
  left: 70%;
  top: 0;
  transform: translateY(-5%);
}
#switchContainer #track #backClouds .cloud:nth-child(8) {
  height: 55%;
  width: 30%;
  left: 40%;
  top: 60%;
}

#switchContainer #track #clouds .cloud {
  position: absolute;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 1);
}

#switchContainer #track #clouds .cloud:nth-child(1) {
  height: 40%;
  width: 15%;
  left: 2%;
  top: 100%;
  transform: translateY(-35%);
}
#switchContainer #track #clouds .cloud:nth-child(2) {
  height: 55%;
  width: 20%;
  left: 9%;
  top: 100%;
  transform: translateY(-40%);
}
#switchContainer #track #clouds .cloud:nth-child(3) {
  height: 50%;
  width: 23%;
  left: 25%;
  top: 100%;
  transform: translateY(-45%);
}
#switchContainer #track #clouds .cloud:nth-child(4) {
  height: 40%;
  width: 20%;
  left: 40%;
  top: 100%;
  transform: translateY(-45%);
}
#switchContainer #track #clouds .cloud:nth-child(5) {
  height: 50%;
  width: 20%;
  left: 52%;
  top: 100%;
  transform: translateY(-55%) rotate(160deg);
}
#switchContainer #track #clouds .cloud:nth-child(6) {
  height: 60%;
  width: 20%;
  left: 67%;
  top: 50%;
}
#switchContainer #track #clouds .cloud:nth-child(7) {
  height: 65%;
  width: 25%;
  left: 75%;
  top: 15%;
}

#switchContainer #track #stars {
  margin-bottom: 30%;
  transform: translateY(-50%);
  -webkit-transition: 1s cubic-bezier(0.31, 0.33, 0, 1.19);
  -moz-transition: 1s cubic-bezier(0.31, 0.33, 0, 1.19);
  -ms-transition: 1s cubic-bezier(0.31, 0.33, 0, 1.19);
  -o-transition: 1s cubic-bezier(0.31, 0.33, 0, 1.19);
  transition: 1s cubic-bezier(0.31, 0.33, 0, 1.19);
}
#switchContainer #track #stars .star {
  position: absolute;
  border: 1px solid blue;
  border: 1px solid transparent;
}
#switchContainer #track #stars .star.starLG {
  height: 11.1%;
  width: 4%;
  font-size: min(0.225vw, 1.41px);
}
#switchContainer #track #stars .star.starMD {
  height: 5.55%;
  width: 2%;
  font-size: min(0.105vw, 0.69px);
}
#switchContainer #track #stars .star.starSM {
  height: 4.62%;
  width: 1.66%;
  font-size: min(0.087vw, 0.57px);
}
#switchContainer #track #stars .star.starXS {
  height: 3.7%;
  width: 1.33%;
  font-size: min(0.07vw, 0.46px);
}

#switchContainer #track #stars .star .starCorner {
  overflow: hidden;
  position: absolute;
  width: 10em;
  height: 10em;
}
#switchContainer #track #stars .star .starCorner::before {
  content: "";
  display: block;
  position: absolute;
  border-radius: 50%;
  width: 21em;
  height: 21em;
}
#switchContainer #track #stars .star .starTop {
  bottom: -25%;
}
#switchContainer #track #stars .star .starBottom {
  top: -25%;
}
#switchContainer #track #stars .star .starRight {
  left: -25%;
}
#switchContainer #track #stars .star .starLeft {
  right: -25%;
}

#switchContainer #track #stars .star .starTop::before {
  top: 0;
}
#switchContainer #track #stars .star .starBottom::before {
  bottom: 0;
}
#switchContainer #track #stars .star .starRight::before {
  right: 0;
}
#switchContainer #track #stars .star .starLeft::before {
  left: 0;
}

#switchContainer #track #stars .star .starTop.starRight::before {
  box-shadow: 12em -12em 0 0 white;
}
#switchContainer #track #stars .star .starBottom.starRight::before {
  box-shadow: 12em 12em 0 0 white;
}
#switchContainer #track #stars .star .starBottom.starLeft::before {
  box-shadow: -12em 12em 0 0 white;
}
#switchContainer #track #stars .star .starTop.starLeft::before {
  box-shadow: -12em -12em 0 0 white;
}

#switchContainer #track #stars .star:nth-child(1) {
  left: 4%;
  top: 10%;
}
#switchContainer #track #stars .star:nth-child(2) {
  left: 6%;
  top: 40%;
}
#switchContainer #track #stars .star:nth-child(3) {
  left: -2%;
  top: 28%;
}
#switchContainer #track #stars .star:nth-child(4) {
  left: 1%;
  top: 68%;
}
#switchContainer #track #stars .star:nth-child(5) {
  left: -1.5%;
  top: 75%;
}
#switchContainer #track #stars .star:nth-child(6) {
  left: 6%;
  top: 80%;
}
#switchContainer #track #stars .star:nth-child(7) {
  left: 22%;
  top: 50%;
}
#switchContainer #track #stars .star:nth-child(8) {
  left: 25%;
  top: 25%;
}
#switchContainer #track #stars .star:nth-child(9) {
  left: 27%;
  top: 74%;
}
#switchContainer #track #stars .star:nth-child(10) {
  left: 33.8%;
  top: 58%;
}
#switchContainer #track #stars .star:nth-child(11) {
  left: 36%;
  top: 28%;
}

#switchContainer #track #trackShadow {
  z-index: 10;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 100vw;
  box-shadow: inset 0 0.8em 0.4em rgba(0, 0, 0, 0.4),
    inset 0 -0.2em 0.8em rgba(0, 0, 0, 0.2), 0 -0.2em 0.4em rgba(0, 0, 0, 0.2),
    0 0.3em 0.4em rgba(255, 255, 255, 0.9);
}

.square {
  width: 100%;
  height: 0;
  padding-bottom: 100%;
}
